@model SnakeEyesGame.Models.SnakeEyes
@addTagHelper *,Microsoft.AspNetCore.Mvc.Taghelpers
<link href="~/css/SnakeEyes.css" rel="stylesheet" />
<h1>SnakeEyes</h1>
<p> keep going but don't get 2 one's</p>
<p>
    <span class="snakeEye">@Model.Eye1</span>
    <span class="snakeEye">@Model.Eye2</span>
</p>



<p>Je totaal is @Model.Total</p>

<form asp-controller="Home" asp-action="Play" method="post">
    
    <input id="buttonPlay" type="submit" value="Play"/>

</form>
